.body {
  margin: 20px;
}

/* .info-container {
  border: #dadada;
  width: 18.125rem; */
/* 18.125rem = 290px */
/* height: 200px; */
/* 3rem = 48px */

/* 레이아웃 속성 */
/* display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  background-color: red;
} */
.forentirelayout {
  .forentirelayout .naver-logo {
    width: 14.375rem;
    box-shadow: 10px 10px 10px red;
  }

  .login-form {
    padding-left: 20px;
    padding-right: 20px;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .input-field {
    width: 460px;
    height: 48px;
    font-size: 16px;
    color: #121212;
  }

  .login-botton {
    width: 18.125rem;
    height: 2.8125rem;
    color: #fff;
    font-size: 1rem;
    background-color: #03cf5d;

    border: 0;
  }
}
